FMP_API_KEY=your_fmp_key
CLICKHOUSE_HOST=localhost
CLICKHOUSE_PORT=8123
CLICKHOUSE_USER=data_engine
CLICKHOUSE_PASSWORD=change_me
POSTGRES_HOST=localhost
POSTGRES_PORT=5433
POSTGRES_DB=data_engine
POSTGRES_USER=data_engine
POSTGRES_PASSWORD=change_me
